.darkcontainer {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 6.5rem;
  height: 3.5rem;
  border: 2px solid black;
  background-color: var(--bg2);
  border-radius: 2rem;

  @media only screen and (max-width: 1440px) {
  }
  @media only screen and (max-width: 1024px) {
    width: 6rem;
    height: 3rem;
    top: 3.5rem;
  }
  @media only screen and (max-width: 768px) {
    top: 3.5rem;
    right: -3rem;
  }

  .darkbtn {
    position: absolute;

    border-radius: 50%;
    padding: 0.5rem;
    top: 0.4rem;
    left: 0.5rem;
    cursor: pointer;
    z-index: 5;

    & > div > svg {
      position: relative;
      left: 0.4rem;
      @media only screen and (max-width: 1024px) {
        left: 0.3rem;
      }
    }
  }
  .lightbtn {
    position: absolute;
    border-radius: 50%;
    padding: 0.5rem;
    top: 0.4rem;
    right: 0.5rem;
    cursor: pointer;
    z-index: 5;

    & > div > svg {
      position: relative;
      right: 0.4rem;
      @media only screen and (max-width: 1024px) {
        right: 0.3rem;
      }
    }
  }
}

.light_pill {
  position: absolute;
  width: 135%;
  height: 100%;
  top: 0rem;
  right: 0rem;
  z-index: -1;

  border: 0.1rem solid black;
  border-radius: 50%;
  @media only screen and (max-width: 1024px) {
    // top: -0.1rem;
    width: 125%;
    height: 90%;
  }
}

.dark_pill {
  position: absolute;
  width: 135%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  z-index: -1;

  border: 0.1rem solid black;
  border-radius: 50%;
  @media only screen and (max-width: 1024px) {
    width: 125%;
    height: 90%;
  }
}
