@mixin gridskills {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4rem;
  row-gap: 2rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

@mixin skillsheader {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2.5rem;
  color: var(--text-color);
}

@mixin skill_container {
  filter: opacity(20px);
  position: relative;
  top: 2rem;
  border: 0.2rem solid var(--border);
  background-color: var(--box-bg);
  min-height: 65%;
  min-width: 20%;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 2.7rem;
  box-shadow: -1px 1px 8px 0px var(--shadow);
}

@mixin section_header {
  font-size: 5rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 8rem;
  -webkit-text-stroke: 2px var(--name-stroke);
  color: var(--name-color);
}

@mixin input {
  height: 3.5rem;
  width: 60%;
  & > input {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: none;
    border: 2px solid black;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 2rem;
  }
}
