@forward "./base";
@forward "../component/nav.scss";
@forward "../component/header.scss";
@forward "../component/about.scss";
@forward "../component/experience.scss";
@forward "../component/project.scss";
@forward "../component/contact.scss";
@forward "../component/footer.scss";

.header::after,
.about::after,
.experience::after,
.project::after,
.contact::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(
    81deg,
    rgba(83, 86, 89, 0.8156512605042017) 7%,
    rgba(238, 238, 238, 0.14898459383753504) 47%
  );
  bottom: 0;
}

// .project::after {
//   content: "heello";
//   position: absolute;
//   left: 50rem;
//   height: 10rem;
//   width: 100%;
//   background: linear-gradient(
//     81deg,
//     rgba(83, 86, 89, 0.8156512605042017) 7%,
//     rgba(238, 238, 238, 0.14898459383753504) 47%
//   );
//   bottom: 0;
// }
