@use "../styles/mixins" as ex;

.experience {
  min-height: 100vh;
  display: flex;
  justify-content: fle;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
  @media only screen and (max-width: 450px) {
    row-gap: 1.55rem;
  }

  &_header {
    @include ex.section_header;
  }
  &_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    margin-top: 4rem;
    margin-left: 4rem;
    @media only screen and (max-width: 450px) {
      column-gap: 3.5rem;
      margin-top: 2.5rem;
    }
    & > div {
      font-size: 2rem;
      font-weight: 600;
      border-radius: 10px;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      padding: 0.5rem;
      color: var(--text-color);
      cursor: pointer;
      transition: all 0.1s linear;
      @media only screen and (max-width: 1440px) {
        font-size: 1.7rem;
      }
      @media only screen and (max-width: 450px) {
        font-size: 1.4rem;
      }
    }
  }

  &_timeline {
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 450px) {
      padding: 0;
      margin-top: 1rem;
    }
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 1rem;
    font-weight: 800;
    @media only screen and (max-width: 1170px) {
      color: black;
    }
    @media only screen and (max-width: 768px) {
      color: black;
    }
  }

  .vertical-timeline-element-icon {
    @media only screen and (max-width: 768px) {
      height: 40% !important;
      width: 8% !important;
      position: absolute !important;
      left: -0.3rem !important;
    }
    @media only screen and (max-width: 450px) {
      height: 29% !important;
      width: 13% !important;
    }
  }
  .vertical-timeline-element-content {
    @media only screen and (max-width: 1440px) {
      height: 11rem;
    }
    @media only screen and (max-width: 1064px) {
      height: 12rem;
    }

    @media only screen and (max-width: 768px) {
      height: 12rem;
      width: 50rem;
    }

    @media only screen and (max-width: 450px) {
      height: 13rem;
      width: 25rem;
      padding: 1rem !important;
    }
    & > h2 {
      @media only screen and (max-width: 450px) {
        font-size: 1.3rem;
      }
    }
    & > h4 {
      @media only screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }
    & > p {
      @media only screen and (max-width: 450px) {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }
  .vertical-timeline-element {
    position: relative;
  }
  .vertical-timeline-element-date {
    color: var(--text-color);
  }
  .experience_timeline {
    @media only screen and (max-width: 450px) {
      position: relative;
      right: 0.5rem;
    }
  }
}
