@use "../styles/mixins" as ex;

.experience {
  min-height: 100vh;
  display: flex;
  justify-content: fle;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;

  &_header {
    @include ex.section_header;
  }
  &_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
    margin-top: 4rem;
    margin-left: 4rem;

    & > div {
      font-size: 2rem;
      font-weight: 600;
      border-radius: 10px;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      padding: 0.5rem;
      color: var(--text-color);
      cursor: pointer;
      transition: all 0.1s linear;
    }
  }

  &_timeline {
    width: 80%;
    padding: 2rem;
    margin-bottom: 2rem;
    // background-color: rgba(246, 242, 242, 0.91);
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 1rem;
    font-weight: 800;
  }
  .vertical-timeline-element {
    position: relative;
  }
  .vertical-timeline-element-date {
    color: var(--text-color);
  }
}
