.footer {
  height: 20vh;
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  @media only screen and (max-width: 430px) {
    row-gap: 2rem;
    height: 15vh;
  }

  &_copyright {
    font-size: 1.3rem;
    font-weight: 600;
    @media only screen and (max-width: 1024px) {
      font-size: 1rem;
    }
    @media only screen and (max-width: 430px) {
      font-size: 0.9rem;
    }
  }

  &_navs > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    @media only screen and (max-width: 1024px) {
      column-gap: 4.5rem;
      font-size: 1.3rem;
    }

    @media only screen and (max-width: 430px) {
      column-gap: 2rem;
      font-size: 1rem;
    }

    & > li {
      // margin-top: 2rem;
      list-style-type: none;
      cursor: pointer;
    }
  }
}
