.nav {
  position: fixed;
  top: 1rem;
  left: 23%;
  z-index: 11;
  height: 5rem;
  width: 85rem;
  // backdrop-filter: blur(50px);
  box-shadow: 1px 1px 17px -1px var(--shadow);
  background-color: var(--bg2);
  // background: transparent;
  padding: 0.5rem;
  -webkit-border-radius: 153px;
  -moz-border-radius: 153px;
  border-radius: 153px;
  display: flex;
  justify-content: space-around;

  &_logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--main-bg-color);
    // margin-right:auto ;
  }

  &_links {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      font-size: 1.6rem;
      font-weight: 600;
      column-gap: 6rem;

      & > li > a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 800;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
      // & > li > a:hover {
      //   color: rgb(42, 41, 41);
      // }
    }
  }
}

@for $i from 1 through 5 {
  .nav_links_home_#{$i} {
    position: relative;
    & > a > svg {
      margin-right: 0.6rem;
    }
  }
}

.nav_pill {
  position: absolute;
  bottom: -5px;
  border-radius: 20px;
  height: 20%;
  width: 110%;
  background-color: black;
}

// .nav_active {
//   scale: (1.2);
// }
