.nav {
  position: fixed;
  top: 1rem;
  left: 23%;
  z-index: 11;
  height: 5rem;
  width: 85rem;
  box-shadow: 1px 1px 17px -1px var(--shadow);
  background-color: var(--bg2);
  padding: 0.5rem;
  -webkit-border-radius: 153px;
  -moz-border-radius: 153px;
  border-radius: 153px;
  display: flex;
  justify-content: space-around;

  @media only screen and (max-width: 1440px) {
    // height: 4.5rem;
    // width: 70rem;
  }

  @media only screen and (max-width: 1024px) {
    height: 4rem;
    width: 50rem;
    left: 25%;
  }

  @media only screen and (max-width: 768px) {
    left: 18%;
  }

  @media only screen and (max-width: 450px) {
    display: none;
  }

  &_links {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      font-size: 1.6rem;
      font-weight: 600;
      column-gap: 6rem;
      @media only screen and (max-width: 1440px) {
        column-gap: 5rem;
        font-size: 1.4rem;
      }

      @media only screen and (max-width: 1024px) {
        column-gap: 4rem;
        font-size: 1rem;
      }

      @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
        row-gap: 3.5rem;
        flex-direction: column;
      }

      & > li > a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: 800;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
      // & > li > a:hover {
      //   color: rgb(42, 41, 41);
      // }
    }
  }
}

@for $i from 1 through 5 {
  .nav_links_home_#{$i} {
    position: relative;
    & > a > svg {
      margin-right: 0.6rem;
    }
  }
}

.nav_pill {
  position: absolute;
  bottom: -5px;
  border-radius: 20px;
  height: 20%;
  width: 110%;
  background-color: black;
}
.sidenav {
  display: none;
  @media only screen and (max-width: 450px) {
    position: fixed;
    box-shadow: 1px 1px 17px -1px var(--shadow);
    background-color: var(--bg2);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    height: 30rem;
    width: 30rem;
    border-radius: 30px;
    border: solid black;
  }
}
.burger {
  position: fixed;
  top: 2rem;
  left: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  color: black;
  z-index: 11;
  border-radius: 50%;
  border: 2px solid black;
  background-color: var(--bg2);
  display: none;
  @media only screen and (max-width: 450px) {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    & > span {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > svg {
        height: 70%;
        width: 70%;
      }
    }
  }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
/// media query
